<?xml version="1.0" encoding="UTF-8"?>

<beans 	xmlns="http://www.springframework.org/schema/beans"
  	  	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    	xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">


		<bean id="res" class="com.model.Restaurent">
		
			<property name="rId" 	value="101" />
			<property name="rName" 	value="MJ" />
			
			<property name="menu" >
				<list>
						<value>	1.Paneer		</value>
						<value>	2.Dal Bati		</value>
						<value>	3.Ghewar		</value>
						<value>	4.Mushroom		</value>
						<value>	5.Pav Bhaji		</value>
						
				</list>
			</property>
			
		</bean>

</beans>